/* Error */

.mo_error{
    color:red;
}

/* End  Message */
.required_label{
    color:red;
}
.pc_info, .pc_success, .pc_warning, div.pc_error, .pc_validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:5px 10px 5px 35px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.pc_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.pc_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.pc_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
div.pc_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
.pc_validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/validation.png');
}

/* End  Message */